body {
    background-image: url(img/fundo.jpg);

}

h1, h2 {
    margin-top: 0;
}

p {
    text-align: justify;
}

input {
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-family: 'Noto Sans JP', sans-serif;
}

button {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
}

.regras {
    max-width: 350px;
    margin: auto;
    background-color: rgb(201, 221, 250);
    padding: 20px;
    border-radius: 4px;
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    max-width: 350px;
    margin: auto;
    margin-top: 25px;
    background-color: rgb(201, 221, 250);
    padding: 20px;
    border-radius: 4px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}